.history-data-statistics label.text{
    font-weight: normal;
    color: #093857;
}
.history-data-statistics .form-wrap{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dddddd;
}
.history-data-statistics .box{
    margin-bottom: 0;
}
.history-data-statistics .alert-container{
    margin-top: 1rem;
}
.history-data-statistics .no-datas-tip {
    position: absolute;
    width: 100%;
    color: #8c8c8c;
    text-align: center;
    margin-top: 10rem;
}
.history-data-statistics .echart-row {
    height:100%;
    position: relative;
}
.history-data-statistics .echart-col{
    height: 95%;
}
.history-data-statistics .charts-wrap{
    position: relative;
}
.history-data-statistics .alert-row{
    position: absolute;
    left: 0;
    right: 0;
}
.history-data-statistics .conditions {
    min-height: 40px;
    text-align: center;
}
.history-data-statistics .conditions-content {
    font-size: 16px;
    font-weight: 600;
    color: #555;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}
.history-data-statistics .conditions-content > span  {
    display: inline-block;
    padding: 0 1rem;
    border-right: 1px solid #cccccc;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
}
.history-data-statistics .conditions-content > span.conditions-start-data,
.history-data-statistics .conditions-content > span.conditions-line{
    border : none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}
.history-data-statistics .conditions-content > span.conditions-end-data{
    padding-left: 0;
}
.ui-jqgrid-view{
    overflow: hidden;
}
.history-data-statistics .conditions-content > span.conditions-tip,
.history-data-statistics .conditions-content > span.conditions-unit {
    border: none;
    box-shadow: none;
}

.fly_time label.text{
    font-weight: normal;
    color: #093857;
}
.fly_time .form-wrap{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dddddd;
}
.fly_time .box{
    margin-bottom: 0;
    overflow: hidden;
}
.fly_time .alert-container{
    margin-top: 1rem;
}
.fly_time .no-datas-tip {
    position: absolute;
    width: 100%;
    color: #8c8c8c;
    text-align: center;
    margin-top: 10rem;
}
.fly_time .echart-col{
    height: 95%;
}
.fly_time .charts-wrap{
    position: relative;
}
.fly_time .alert-row{
    position: absolute;
    left: 0;
    right: 0;
}
.fly_time .conditions {
    min-height: 40px;
    text-align: center;
}
.fly_time .conditions-content {
    font-size: 16px;
    font-weight: 600;
    color: #555;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}
.fly_time .conditions-content > span  {
    display: inline-block;
    padding: 0 1rem;
    border-right: 1px solid #cccccc;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
}
.fly_time .conditions-content > span.conditions-start-data,
.fly_time .conditions-content > span.conditions-line{
    border : none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}
.fly_time .conditions-content > span.conditions-end-data{
    padding-left: 0;
}
.fly_time .conditions-content > span.conditions-tip,
.fly_time .conditions-content > span.conditions-unit {
    border: none;
    box-shadow: none;
}
.fly_time .form-group{
    margin-right: 10px;
}
.fly_time .cy-pad-hor-s{
    font-weight: normal;
    color: #093857;
}


.ter_time label.text{
    font-weight: normal;
    color: #093857;
}
.ter_time .form-wrap{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dddddd;
}
.ter_time .box{
    margin-bottom: 0;
    overflow: hidden;
}
.ter_time .alert-container{
    margin-top: 1rem;
}
.ter_time .no-datas-tip {
    position: absolute;
    width: 100%;
    color: #8c8c8c;
    text-align: center;
    margin-top: 10rem;
}
.ter_time .echart-col{
    height: 95%;
}
.ter_time .charts-wrap{
    position: relative;
}
.ter_time .alert-row{
    position: absolute;
    left: 0;
    right: 0;
}
.ter_time .conditions {
    min-height: 40px;
    text-align: center;
}
.ter_time .conditions-content {
    font-size: 16px;
    font-weight: 600;
    color: #555;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}
.ter_time .conditions-content > span  {
    display: inline-block;
    padding: 0 1rem;
    border-right: 1px solid #cccccc;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
}
.ter_time .conditions-content > span.conditions-start-data,
.ter_time .conditions-content > span.conditions-line{
    border : none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}
.ter_time .conditions-content > span.conditions-end-data{
    padding-left: 0;
}
.ter_time .conditions-content > span.conditions-tip,
.ter_time .conditions-content > span.conditions-unit {
    border: none;
    box-shadow: none;
}
.ter_time .form-group{
    margin-right: 10px;
}
.ter_time .cy-pad-hor-s{
    font-weight: normal;
    color: #093857;
}

.precision_show label.text{
    font-weight: normal;
    color: #093857;
}
.precision_show .form-wrap{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dddddd;
}
.precision_show .box{
    margin-bottom: 0;
    overflow: hidden;
}
.precision_show .alert-container{
    margin-top: 1rem;
}
.precision_show .no-datas-tip {
    position: absolute;
    width: 100%;
    color: #8c8c8c;
    text-align: center;
    margin-top: 10rem;
}
.precision_show .echart-col{
    height: 95%;
}
.precision_show .charts-wrap{
    position: relative;
}
.precision_show .alert-row{
    position: absolute;
    left: 0;
    right: 0;
}
.precision_show .conditions {
    min-height: 40px;
    text-align: center;
}
.precision_show .conditions-content {
    font-size: 16px;
    font-weight: 600;
    color: #555;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}
.precision_show .conditions-content > span  {
    display: inline-block;
    padding: 0 1rem;
    border-right: 1px solid #cccccc;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
}
.precision_show .conditions-content > span.conditions-start-data,
.precision_show .conditions-content > span.conditions-line{
    border : none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}
.precision_show .conditions-content > span.conditions-end-data{
    padding-left: 0;
}
.precision_show .conditions-content > span.conditions-tip,
.precision_show .conditions-content > span.conditions-unit {
    border: none;
    box-shadow: none;
}
.precision_show .form-group{
    margin-right: 10px;
}
.precision_show .cy-pad-hor-s{
    font-weight: normal;
    color: #093857;
}

.pass_point .form-group{
    margin-right: 10px;
}
.detail{
    height: 550px;
    width: 1260px;
}

.airport_status{
    height: 56px;
}
.airport_status label{
    height: 100%;
}
.airport_status label div{
     height: 100%;
     line-height: 100%;
 }
.airport_status label div input{
    margin: 22px 5px 0 0 ;
}
.airport_status p{
    font-size: 15px;
    font-weight: normal;
    color: #093857;
    line-height: 56px;
}
.operating-data-query .table-contianer {
    min-height: 15rem;
    color: #646464;
    /*font-size: 14px;*/
}
.operating-data-query .data-query-summary p{
    margin: 0;
}
.operating-data-query .data-query-summary .generate-time{
    line-height: 28px;
}
.operating-data-query .data-query-summary .summary {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*color: #5a738e;*/
    width: 70%;
    display: inline-block;
}

.operating-data-query .data-query-wrap {
    margin-bottom: 0;
}
.operating-data-query .no-datas-tip {
    position: absolute;
    width: 100%;
    color: #8c8c8c;
    text-align: center;
    margin-top: 10rem;
}
.operating-data-query .not-empty span.query-date,
.operating-data-query .not-empty span.nav-type,
.operating-data-query .not-empty span.nav-subtype {
    border-right: 1px solid #cccccc;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
}
.operating-data-query .summary > span {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0 1rem;
}

.operating-data-query #tb-datas-canvas {
    height: 100%;
}
.operating-data-query .ui-jqgrid .ui-jqgrid-pager,
.operating-data-query .ui-jqgrid .ui-jqgrid-pager .table>tbody>tr>td{
    border: none;
}

.modal-header {
    padding-left: 3rem;
    padding-right: 3rem;
    /*background:#E6F0F3;*/
    background:#f2fbfd;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.modal-header .close{
    line-height: 0.6;
    font-size: 32px;
}
.modal-body .date-datepicker {
    margin-bottom: 1.5rem;
}
.modal-body .row {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}
.modal-body .row-line {
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #dddddd;
}
.modal-body .row p{
    padding: 6px 0px;
    margin: 0px;
}
#bootstrap-modal-dialog-body {
    min-height: 41rem;
}
.query-type {
    width: 100%;
    display: flex;
}
.query-form label.text {
    font-weight: normal;
    color: #093857;
}
.query-type label.btn {
    flex: 4;
    text-align: center;

}
.h50{
    height: 50%;
}
.h100{
    height:100%;
}
.jqgrow td:nth-of-type(2){
    color: #1B548D;
    cursor: pointer;
    text-decoration: underline;
}
.detail .jqgrow td:nth-of-type(2){
    cursor: default;
    text-decoration: none;
    color: #000;
}
.datepicker .table-condensed td {
    padding: 0.45rem 0.9rem;
}
.no-event {
    pointer-events: none !important;
}
.flight-end-date[readonly] {
    background: #fff;
}
.flight_name{
    text-transform: uppercase;
}
.btn-group .selected{
    background-color: #578ebe ;
    border-color: #578ebe ;
    color: white ;
}
.show{
    display: block;
}
.hide{
    display: block;
}
.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
    border: 1px solid #ddd !important;
}
@media (max-width: 992px) {
    .operating-data-query .data-query-summary .summary {
        width: 100%;
    }
    .operating-data-query .generate-time {
        position: absolute;
        top: 5rem;
        font-weight: normal;
    }

}
@media (max-width: 900px) {
    .modal-dialog {
        width: 680px !important;
    }
}
@media (max-width: 768px) {
    .modal-dialog {
        width: 480px !important;
    }
    .query-form label, .query-form span, .query-form input {
        font-size: 12px !important;
    }
    .query-type label.btn {
        flex: 4;
        text-align: center;
        padding-left: 6px;
        padding-right: 6px;
    }
}
@media (max-width: 512px) {
    .modal-dialog {
        width: 428px !important;
    }
}