.sub_title{
  margin-top: 20px;
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
}
.alernate_flight_grid_table{
  width: 100%;
  flex: 1 0 auto;
}
.h200{
  font-size: 13px;
}
.flight-grid-table-collaborate-container{
  max-width: 260px;
  position: absolute;
  #cancale{
    margin-left: 10px;
  }
}