body{
  font-family: Calibri, 'Microsoft Yahei',"Helvetica Neue",Helvetica,Arial, sans-serif;
  .app-transition{
    .menu-bar{
      font-size: 15px;
      font-weight: bold;
    }
    .main-area{
      section{
        .panel-heading{
          .poster{
            font-size: 1.6rem;
            font-weight: bold;
          }
          .alter_volume_time{
            font-size: 15px;
          }
        }
      }
    }
  }
  .user_logout{
    display: inline-block;
  }
  .available_capacity{
    font-weight: bold;
    font-size: 18px;
  }
  .sub_title{
    margin: 10px 0;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    font-size: 15px;
  }
  .error_tip{
    display: none;
  }
  .airport-type{
    font-weight: normal;
    padding: 0 10px;
  }
  .btn-group{
    margin-top: -1px;
  }
  .total_count{
    font-weight: 700;
    margin-right: 10px;
  }
  .correct{
    display: none;
  }
  .alernate_flight_grid_table{
    width: 100%;
    flex: 1 0 auto;
    user-select: none;
  }
  .table-contianer{
    .ui-jqgrid-view{
      border:1px solid #dddddd;
    }
    .ui-jqgrid .ui-jqgrid-bdiv{
      overflow-x: hidden;
    }
  }
  .h120{
    font-size: 14px;
    height: 150px;
    overflow: auto;
  }
  .des{
    font-size: 14px;
  }
  .flight-grid-table-collaborate-container{
    max-width: 260px;
    position: absolute;
    text-align: left;
    height: auto;
    padding: 5px;
    padding-bottom : 0;
    border: solid 2px #3399FF;
    position: absolute;
    z-index: 3;
    background-color: white;
    box-shadow: 0 0 10px 0px #222;
    border-radius: 5px;
    font-size: 16px;
    user-select: none;
    .modal-close-btn{
      left: 105px;
      top: 3px;
      cursor: pointer;
    }
    #cancale{
      margin-left: 10px;
    }
  }
  .selected-cell {
    background: #39f !important;
    box-shadow: 0 0 10px 0px #222;
  }
}
@media (max-width: 1366px) {
  html,body{
    width: 1366px;
    .app-transition{
      width: 1366px;
    }
  }
  html{
    overflow: scroll;
  }
}