body {
  font-family: Calibri, 'Microsoft Yahei', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body .app-transition .menu-bar {
  font-size: 15px;
  font-weight: bold;
}
body .app-transition .main-area section .panel-heading .poster {
  font-size: 1.6rem;
  font-weight: bold;
}
body .app-transition .main-area section .panel-heading .alter_volume_time {
  font-size: 15px;
}
body .user_logout {
  display: inline-block;
}
body .available_capacity {
  font-weight: bold;
  font-size: 18px;
}
body .change-capacity-label {
  height: 33px;
  margin-left: 10px;
}
body .sub_title {
  margin: 10px 0;
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
  font-size: 15px;
}
body .error_tip {
  display: none;
}
body .airport-type {
  font-weight: normal;
  padding: 0 10px;
}
body .btn-group {
  margin-top: -1px;
}
body .total_count {
  font-weight: 700;
  margin-right: 10px;
}
body .correct {
  display: none;
}
body .alernate_flight_grid_table {
  width: 100%;
  flex: 1 0 auto;
  user-select: none;
}
body .table-contianer .ui-jqgrid-view {
  border: 1px solid #dddddd;
}
body .table-contianer .ui-jqgrid .ui-jqgrid-bdiv {
  overflow-x: hidden;
}
body .h120 {
  font-size: 14px;
  height: 150px;
  overflow: auto;
}
body .des {
  font-size: 14px;
}
body .flight-grid-table-collaborate-container {
  max-width: 260px;
  text-align: left;
  height: auto;
  padding: 5px;
  padding-bottom: 0;
  border: solid 2px #3399FF;
  position: absolute;
  z-index: 3;
  background-color: white;
  box-shadow: 0 0 10px 0px #222;
  border-radius: 5px;
  font-size: 16px;
  user-select: none;
}
body .flight-grid-table-collaborate-container .modal-close-btn {
  left: 105px;
  top: 3px;
  cursor: pointer;
}
body .flight-grid-table-collaborate-container #cancale {
  margin-left: 10px;
}
body .selected-cell {
  background: #39f !important;
  box-shadow: 0 0 10px 0px #222;
}
@media (max-width: 1366px) {
  html,
  body {
    width: 1366px;
  }
  html .app-transition,
  body .app-transition {
    width: 1366px;
  }
  html {
    overflow: scroll;
  }
}
