.sub_title{
  margin-top: 20px;
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
}
.alernate_flight_grid_table{
  width: 100%;
  flex: 1 0 auto;
}
.h200{
  font-size: 13px;
}
.flight-grid-table-collaborate-container{
  max-width: 260px;
  position: absolute;
  .modal-close-btn{
    left: 120px;
    top: 0px;
    cursor: pointer;
  }
  #cancale{
    margin-left: 10px;
  }
  .table>tbody>tr.success>td.selected-cell {
    background: #39f !important;
    box-shadow: 0 0 10px 0px #222;
  }
}