
html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    position: absolute;
    /*min-width: 960px;*/

    font-size: 12px;
    line-height: 1;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.app-transition{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2e5e79;
    overflow: hidden;
}
.navbar {
    position: relative;
    padding: 0 2.5rem 0 1.8rem;
    margin: 0;
    height: 4.5rem;
    color: #ffffff;
    background-color: #204562;
    z-index: 50;
    display: flex;
    align-items: center;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-grow: 0;
    border-radius: 0;
    font-size: 1.5rem;
}
.navbar .slogan {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 3rem;
}

.navbar .login-time {
    flex : 0 0 auto;
    display: flex;
    margin-right: 1rem;
}
.navbar .icon, .navbar .user-name {
    flex: 0 1 auto;
    display: flex;
    margin-right: 1rem;
}
.navbar .icon {
    font-size: 1.75rem;
    color: #dddddd;
    margin-right: 0.5rem;
}
.menu-bar {
    position: relative;
    z-index: 2;
    flex-grow: 0;
    display: flex;
    align-items: center;
    margin: 1rem 2.5rem 0 1.8rem;
    min-height: 3rem;
    font-size: 1.6rem;
    background: url(../img/nav-repeat2.jpg) no-repeat #305b7b !important;
    flex-direction: row;

}
.menu-list, .menu-list li {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.menu-list li {
    flex: 0 1 auto;
    justify-content: center;
    display: inline-flex;
}

.menu-list li a, .option li a{
    text-decoration: none;
    color: #FFFFFF;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex: 1;
    justify-content: center;
    display: inline-flex;

}
.menu-list li a:hover {
    background: #204562;
}
.menu-list li.active > a {
    background: #204562;
    color: #ffffff;
}
.menu-list {
    display: flex;
    flex: 0 0 auto;
}
.option {
    display: flex;
    margin-left: 20rem;
}
.option .alert-mess {
    padding: 8px;
}
.main-area {
    display: flex;
    flex-grow: 1;
    margin: 1rem 1.7rem 1rem 1.8rem;
    position: relative;
}

.main-area > section {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    padding-right: 0.8rem;
    z-index: -1;
}
.main-area section.active {
    display: flex;
    flex-direction: column;
    z-index: 9;
}
.main-area section.section-monitor {
    overflow: hidden;
    padding-right: 0.8rem;
}
.main-area section.section-monitor ul,.main-area section.section-monitor ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.main-area .section-monitor .panel{
    width: 100%;
    display: flex;
    min-height: 20rem;
    flex-direction: column;
}
.main-area .section-monitor li:last-child >.panel{
    margin-bottom: 0;
}
.main-area section .panel .panel-heading {
    display: flex;
    flex-direction: row;
    background: #E6F0F3;
    color: #1B548D;
}
.main-area section .panel .panel-heading .poster {
    display: flex;
    flex: 1 0 auto;
    font-size: 1.4rem;
}
.main-area section .panel {
    margin-bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}
.main-area section .panel-body{
    width: 100%;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    padding-top: 0px;
}
.main-area section .time {
    font-size: 1.5rem;
}
.panel-body .form-panel, .panel-body .condition-panel, .alternate-history-module .condition-panel, .alternate-history-module .form-panel{
    display: flex;
    /*justify-content: center;*/
    width: 100%;
    /*min-height: 5rem;*/
    font-size: 1.5rem;
}
.panel-body .form-panel, .alternate-history-module .form-panel {
    border-bottom: 1px solid #dddddd;
    flex-wrap: wrap;
}
.alternate-history-module .form-panel .form-control{
   width: 50%;
}

.form-control[readonly] {
    /*background: #FFFFFF;*/
}
.panel-body .form-panel .form-item, .panel-body .condition-panel li, .alternate-history-module .form-panel .form-item, .alternate-history-module .condition-panel li {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*flex:1 0 auto;*/
    /*width: 12rem;*/
    margin: 1rem;
    padding: 0 1rem;
    font-weight: 600;
}
.form-panel .form-item .alert, .option .alert {
    display: none;
    align-items: center;
    margin: 0;
}
.form-panel .form-item .alert.active, .option .alert.active {
    display: inline-block;
    padding: 8px;
}
.limit-option >label {
    top: 6px;
}

.panel-body .form-panel .form-item.one-child {
    justify-content: flex-end;
}
.panel-body .form-panel .form-item > label, .alternate-history-module .form-panel .form-item > label{
    display: inline-block;
    max-width: 100%;
    margin: 0px;
    margin-right: 1.5rem;
    font-weight: normal;
    color: #4a4a4a;
}
.panel-body .form-panel .form-control,  .panel-body .form-panel .dropdown-toggle, .panel-body .form-panel .dropdown-menu {
    width: 15rem;
}
.panel-body .form-panel select {
    height: 2.4rem;
}

.panel-body .result-panel {
    display: flex;
    flex-direction: column;
    flex:1 0 auto;
    justify-content: flex-start;
}

.form-panel a {
    text-decoration: none;
    color: #4a4a4a;
}
.form-panel .btn .caret {
    margin-left: 5px;
}

.form-panel .dropdown-menu {
    max-height: 20rem;
    overflow: auto;
}

.form-panel .key {
    text-transform: uppercase;
}



.summary-list {
    display: flex;

}
.table-panel {
    display: flex;
    flex: 1 0 auto;
}
.table-contianer {
    flex: 1 0 auto;
    width: 100%;
    height: 100%;
}
.table-responsive {
    overflow-x: hidden;
}

.table>tbody>tr.success>td.grid-table-current-select-cell {
    background: #39f;
    box-shadow: 0 0 10px 0px #222;
}

.grid-table-collaborate-container ,.grid-table-collaborate-container li > ul{
    text-align: left;
    height: auto;
    padding-bottom: 0;
    border: solid 2px #3399FF;
    position: absolute;
    z-index: 3;
    background-color: white;
    box-shadow: 0 0 10px 0px #222;
    border-radius: 5px;
    width: 15rem;
}
.grid-table-collaborate-container  li {
    position: relative;
    padding: 5px;
}
.grid-table-collaborate-container li > a {
    display: block;
    padding: 4px 3rem;
    clear: both;
    /*font-weight: 400;*/
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
}
/*.grid-table-collaborate-container li > a:hover {
    background: #f5f5f5;
}*/
.grid-table-collaborate-container li  .glyphicon {
    color: #999999;
    font-size: 1.2rem;
    margin: 5px;
}
.grid-table-collaborate-container li>ul {
    display: none;
    background: #FFFFFF;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 14.2rem;
}

.grid-table-collaborate-container li.hover > a {
    background: #3399FF;
    color: #ffffff;
}
.grid-table-collaborate-container li.hover > a >.glyphicon {
    color: #ffffff;
}
.grid-table-collaborate-container li.hover>ul {
    display: block;
}
/*.alternate-history-module .condition-panel {*/
    /*min-height: 5rem;*/
/*}*/
.condition-panel {
    display: none !important;
    border-bottom: 1px solid #dddddd;
}
.no-event {
    pointer-events: none !important;
}

.atfm-btn {
    line-height: 1.42857143;
}

/*.modal-header {*/
    /*background: #E6F0F3;*/
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
/*}*/

.modal-body {
    padding-top: 0;
}
.modal-text {
    padding-top: 15px;
    margin: 10px 0;
    font-size: 1.5rem;
}

.result-panel .ui-jqgrid:first-child {
    /*overflow: hidden;*/
}
.form-panel .dropdown-menu {
    padding: 0px;
}
.form-panel .dropdown-menu>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

/**机位管理模块**/
.flex-end {
    /*justify-content: flex-end;*/
}
.edited-option {
    padding: 4px 0;
}

.list-box {
    position: relative;
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-start;
}

.position {
    position: relative;
    width: 200px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-right: 10px;
    vertical-align: top;
    background-color: #eee;
    border-radius: 3px;
    flex: 0 0 auto;
}
.add-position {
    height: 4rem;
    position: relative;
    width: 288px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-right: 10px;
    vertical-align: top;
    background-color: #eee;
    border-radius: 3px;
    flex: 0 0 auto;
}
.position-box .ui-sortable-helper {
    box-shadow: 0 7px 21px rgba(0,0,0,.15);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
    z-index: 2014
}
.position-box .sortable-placeholder {
    background: #e5e5e5
}
.aircraft-type-list .drag-placeholder {
    margin: 0 8px 8px;
    background-color: #e5e5e5;
    border-radius: 3px
}
.position-box .position-header, .airport-box .airport-header {
    cursor: move;
    webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 14px 18px;
    font-size: 15px;
    font-weight: 700;
    z-index: 1;
    transition: box-shadow 100ms ease;
}
.position-box .add-position .position-header{
    height: 100%;
}
.position-box .add-position .position-header,  .position-box .add-position .position-header a{
    cursor: pointer;
    color: #a6a6a6;
    text-decoration: none;
    opacity : 1
}
.position-box .add-position .position-header:hover, .position-box .add-position .position-header:hover a  {
    cursor: pointer;
    color: #3da8f5;
    text-decoration: none;
}
.position-box .add-position .position-header .position-name {
    margin-left: 0.5rem;
}
.position-box .position-header .position-name, .airport-box .airport-header .airport-code{
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 2rem;
}

.list-box .icon, .airport-box .icon {
    transition: all .2s;
    cursor: pointer;
    font-style: normal;
    color: #808080;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
}
.position-box .edit:hover, .airport-box .edit:hover {
    color: #3da8f5;
    text-decoration: none;
}
.position-box .trash:hover, .airport-box .trash:hover {
    color: #f53a2b;
    text-decoration: none;
}

.position-box .position-header:hover .icon, .aircraft-type-list .item:hover .icon{
    display: inline-block;
}
.position-wrap{
    position: relative;
    height: 100%;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0%;
}
.position-content{
    display: flex;
    flex: 1;
    height: 1px;
    overflow: auto;
    /*overflow-x: hidden;*/
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

}
.aircraft-type-list {
    width: 100%;
}
.position-box .item,.aircraft-type-list .item {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    cursor: pointer;
    margin: 0 8px 8px;
    flex: 0 0 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 14px 18px;
    font-size: 15px;
    font-weight: 700;
    z-index: 1;
    transition: box-shadow 100ms ease;
}
.aircraft-type-list .item .item-name {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.add-item {
    width: 100%;
    outline: 0;
    /*margin: 10px 0 0;*/
    /*transition: opacity .1s ease;*/
    /*cursor: pointer;*/
    /*background: #578ebe;*/
    /*padding: 10px 0;*/
}



.dls-thin-scroll::-webkit-scrollbar,.thin-scroll::-webkit-scrollbar {
    width: 7px
}

.dls-thin-scroll::-webkit-scrollbar-track,.thin-scroll::-webkit-scrollbar-track {
    background-color: #e5e5e5;
    border-left: 2px solid transparent
}

.dls-thin-scroll::-webkit-scrollbar-thumb,.thin-scroll::-webkit-scrollbar-thumb {
    background-color: #a6a6a6;
    border-left: 2px solid transparent
}

.dls-thin-scroll::-webkit-scrollbar-thumb:window-inactive,.thin-scroll::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,.1)
}

.transparent-scroll::-webkit-scrollbar {
    width: 8px
}

.transparent-scroll::-webkit-scrollbar-track {
    background: transparent
}

.transparent-scroll::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.25)
}

/*@media (max-width: 768px) {
    .menu-bar ul{
        flex-direction: column;
        width: 100%;
    }
    .menu-bar ul li, .menu-bar ul li a {
        width: 100%;
    }
    .navbar .login-panel {
        flex-direction: column;
    }

}*/

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 106;
    display: none;
    width: 250px;
    max-width: none;
    padding: 0;
    text-align: left;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 7px 21px rgba(0,0,0,.1);
    box-shadow: 0 7px 21px rgba(0,0,0,.1);
    -webkit-border-radius: 3px;
    white-space: normal;
    background-clip: padding-box;
    word-wrap: break-word
}
.popover.bottom {
    margin-top : 0;
}
.popover .popover-header{
    padding: 10px 15px;
    margin: 0 15px;
    /*border-bottom: 1px solid rgba(0,0,0,.07);*/
}

.modal-dialog .form-section .banner {
    /*border-bottom: 1px solid rgba(0,0,0,.1);*/
    padding: 10px 0;
}
.modal-dialog .form-section .banner .header {
    font-size: 1.5rem;
    margin-bottom: 8px;
}
.modal-dialog .form-section .banner .tip {
    color: #a6a6a6;
}
#position-value {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    /*box-shadow: none;*/
    /*outline: none;*/
    text-transform: uppercase;
}
#position-value :host{
    outline: none;
}
.flex-fill {
    webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
#airport-box {
    position: relative;
    min-height: 1px;
    min-width: 1px;
    height: 1px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
}
.airport-box .item {
    display: flex;
    margin: 8px;
    width: 200px;
}
.airport-box .item .content {
    /*padding: 8px;*/
    background: #eee;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    font-size: 15px;
    color: #808080;
    line-height: 3rem;
}
.airport-box .item .content .info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
    justify-content: space-between;
    padding: 0 18px;
}

.airport-box .item .content .info > li {
    width: 100%;
    /*text-align: left;*/
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}
.airport-box .item .content .operate {
    display: flex;
    flex-direction: row-reverse;
    z-index: 1;
}



/*********************magic-checkbox 复选框美化**************************************/
@keyframes hover-color {
    from {
        border-color: #c0c0c0; }
    to {
        border-color: #3e97eb; } }

.magic-radio,
.magic-checkbox {
    position: absolute;
    visibility: hidden;
}

.magic-radio[disabled],
.magic-checkbox[disabled] {
    cursor: not-allowed; }

.magic-radio + label,
.magic-checkbox + label {
    position: relative;
    /*display: block;*/
    display: inline-block;
    /*min-width: 68px;*/
    height: 20px;
    /*padding-left: 30px;*/
    padding-left: 24px;
    /*margin-right: 8px;*/
    cursor: pointer;
    vertical-align: middle;
    line-height: 1.5;
    font-weight: normal;
    margin: 0;
}
.magic-radio + label:hover:before,
.magic-checkbox + label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color; }
.magic-radio + label:before,
.magic-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: '';
    border: 1px solid #c0c0c0;
    background-color: #fff;}
.magic-radio + label:after,
.magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: ''; }

.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
    cursor: not-allowed;
    color: #e4e4e4; }
.magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after,
.magic-checkbox[disabled] + label:hover,
.magic-checkbox[disabled] + label:before,
.magic-checkbox[disabled] + label:after {
    cursor: not-allowed; }
.magic-radio[disabled] + label:hover:before,
.magic-checkbox[disabled] + label:hover:before {
    border: 1px solid #e4e4e4;
    animation-name: none; }
.magic-radio[disabled] + label:before,
.magic-checkbox[disabled] + label:before {
    border-color: #e4e4e4; }

.magic-radio:checked + label:before,
.magic-checkbox:checked + label:before {
    animation-name: none; }

.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {
    display: block; }

.magic-radio + label:before {
    border-radius: 50%; }

.magic-radio + label:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #3e97eb; }

.magic-radio:checked + label:before {
    border: 1px solid #3e97eb; }

.magic-radio:checked[disabled] + label:before {
    border: 1px solid #c9e2f9; }

.magic-radio:checked[disabled] + label:after {
    background: #c9e2f9; }

.magic-checkbox + label:before {
    border-radius: 3px; }

.magic-checkbox + label:after {
    top: 2px;
    left: 7px;
    box-sizing: border-box;
    width: 6px;
    height: 12px;
    transform: rotate(45deg);
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    border-top: 0;
    border-left: 0; }

.magic-checkbox:checked + label:before {
    border: #3e97eb;
    background: #3e97eb; }

.magic-checkbox:checked[disabled] + label:before {
    border: #c9e2f9;
    background: #c9e2f9; }

/********************进港计划,疆内飞越,出港计划宽度自适应****************************/
.main-area >section .ui-jqgrid-bdiv div:first-child{
    overflow-x: hidden;
}
/********************进港计划,疆内飞越,出港计划宽度自适应****************************/
.ui-jqgrid-pager{
    font-size: 1.5rem;
}