
body {
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    /*min-width: 960px;*/
    overflow: hidden;
    font-size: 12px;
    line-height: 1;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.app-transition{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2e5e79;
    overflow: hidden;
}
.navbar {
    position: relative;
    padding: 0 2.5rem 0 1.8rem;
    margin: 0;
    height: 4.5rem;
    color: #ffffff;
    background-color: #204562;
    z-index: 500;
    display: flex;
    align-items: center;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-grow: 0;
    border-radius: 0;
    font-size: 1.5rem;
}
.navbar .slogan {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 3rem;
}

.navbar .login-time {
    flex : 0 0 auto;
    display: flex;
    margin-right: 1rem;
}
.navbar .icon, .navbar .user-name {
    flex: 0 1 auto;
    display: flex;
    margin-right: 1rem;
}
.navbar .icon {
    font-size: 1.75rem;
    color: #dddddd;
    margin-right: 0.5rem;
}
.menu-bar {
    position: relative;
    z-index: 500;
    flex-grow: 0;
    display: flex;
    align-items: center;
    margin: 1rem 2.5rem 0 1.8rem;
    min-height: 3rem;
    font-size: 1.6rem;
    background: url(../img/nav-repeat2.jpg) repeat-x #305b7b !important;

}
.menu-bar ul, .menu-bar ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.menu-bar ul li {
    flex: 1 1 auto;
    justify-content: center;
    display: inline-flex;
}

.menu-bar ul li a{
    text-decoration: none;
    color: #FFFFFF;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex: 1;
    justify-content: center;
    display: inline-flex;

}
.menu-bar ul li a:hover {
    background: #204562;
}
.menu-bar ul li.active > a {
    background: #204562;
    color: #ffffff;
}
.main-area {
    display: flex;
    flex-grow: 1;
    margin: 1rem 1.7rem 1rem 1.8rem;
    position: relative;
}

.main-area section {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    padding-right: 0.8rem;
    visibility: hidden;
    z-index: -1;
}
.main-area section.active {
    display: flex;
    flex-direction: column;
    visibility: visible;
    z-index: 9;
}
.main-area section.section-monitor {
    overflow: hidden;
    padding-right: 0.8rem;
}
.main-area section.section-monitor ul,.main-area section.section-monitor ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.main-area .section-monitor .panel{
    width: 100%;
    display: flex;
    min-height: 20rem;
    flex-direction: column;
}
.main-area .section-monitor li:last-child >.panel{
    margin-bottom: 0;
}
.main-area section .panel .panel-heading {
    display: flex;
    flex-direction: row;
    background: #E6F0F3;
    color: #1B548D;
}
.main-area section .panel .panel-heading .poster {
    display: flex;
    flex: 1 0 auto;
    font-size: 1.4rem;
}
.main-area section .panel {
    margin-bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}
.main-area section .panel-body{
    width: 100%;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}
.panel-body .form-panel, .panel-body .condition-panel, .alternate-history-module .condition-panel, .alternate-history-module .form-panel{
    display: flex;
    /*justify-content: center;*/
    width: 100%;
    min-height: 5rem;
    font-size: 1.5rem;
}
.panel-body .form-panel, .alternate-history-module .form-panel {
    border-bottom: 1px solid #dddddd;
    flex-wrap: wrap;
}
.alternate-history-module .form-panel .form-control{
   width: 50%;
}

.form-control[readonly] {
    background: #FFFFFF;
}
.panel-body .form-panel .form-item, .panel-body .condition-panel li, .alternate-history-module .form-panel .form-item, .alternate-history-module .condition-panel li {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*flex:1 0 auto;*/
    /*width: 12rem;*/
    margin-bottom: 1rem;
    padding: 0 1rem;
}
.form-panel .form-item .alert {
    display: none;
    align-items: center;
    margin: 0;
}
.form-panel .form-item .alert.active {
    display: inline-block;
}

.panel-body .form-panel .form-item.one-child {
    justify-content: flex-end;
}
.panel-body .form-panel .form-item > label, .alternate-history-module .form-panel .form-item > label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    margin-right: 1.5rem;
    font-weight: normal;
    color: #4a4a4a;
}
.panel-body .form-panel .form-control,  .panel-body .form-panel .dropdown-toggle, .panel-body .form-panel .dropdown-menu {
    width: 15rem;
}
.panel-body .form-panel select {
    height: 2.4rem;
}

.panel-body .result-panel {
    display: flex;
    flex-direction: column;
    flex:1 0 auto;
    justify-content: flex-start;
    /*height: 90%;*/
}

.form-panel a {
    text-decoration: none;
    color: #4a4a4a;
}
.form-panel .btn .caret {
    margin-left: 5px;
}
/*.alternate-history-module .result-panel {*/
    /*height: 45rem;*/
/*}*/

.alternate-history-module {
    height: 50rem;
}

.summary-list {
    display: flex;

}
.table-panel {
    display: flex;
    flex: 1 0 auto;
}
.table-contianer {
    flex: 1 0 auto;
    width: 100%;
    height: 100%;
}

.table>tbody>tr.success>td.grid-table-current-select-cell {
    background: #39f;
    box-shadow: 0 0 10px 0px #222;
}

.grid-table-collaborate-container ,.grid-table-collaborate-container li > ul{
    text-align: left;
    height: auto;
    padding-bottom: 0;
    border: solid 2px #3399FF;
    position: absolute;
    z-index: 3;
    background-color: white;
    box-shadow: 0 0 10px 0px #222;
    border-radius: 5px;
    width: 15rem;
}
.grid-table-collaborate-container  li {
    position: relative;
    padding: 5px;
}
.grid-table-collaborate-container li > a {
    display: block;
    padding: 4px 3rem;
    clear: both;
    /*font-weight: 400;*/
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
    font-size: 1.5rem;
}
.grid-table-collaborate-container li > a:hover {
    background: #f5f5f5;
}
.grid-table-collaborate-container li  .glyphicon {
    color: #999999;
    font-size: 1.2rem;
}
.grid-table-collaborate-container li>ul {
    display: none;
    background: #FFFFFF;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 14.2rem;
}
.grid-table-collaborate-container li:hover>ul {
    display: block;

}
.alternate-history-module .condition-panel {
    min-height: 5rem;
}
.no-event {
    pointer-events: none !important;
}

.atfm-btn {
    line-height: 1.42857143;
}


@media (max-width: 768px) {
    .menu-bar ul{
        flex-direction: column;
        width: 100%;
    }
    .menu-bar ul li, .menu-bar ul li a {
        width: 100%;
    }
    .navbar .login-panel {
        flex-direction: column;
    }

}

@media (max-width: 1366px) {
    .modal-dialog {
        width: 1100px !important;
    }
}
@media (max-width: 1200px) {
    .modal-dialog {
        width: 1000px !important;
    }
}

@media (max-width: 900px) {
    .modal-dialog {
        width: 700px !important;
    }
}
@media (max-width: 768px) {
    .modal-dialog {
        width: 480px !important;
    }
}
@media (max-width: 512px) {
    .modal-dialog {
        width: 428px !important;
    }
}


/*********************magic-checkbox 复选框美化**************************************/
@keyframes hover-color {
    from {
        border-color: #c0c0c0; }
    to {
        border-color: #3e97eb; } }

.magic-radio,
.magic-checkbox {
    position: absolute; }

.magic-radio[disabled],
.magic-checkbox[disabled] {
    cursor: not-allowed; }

.magic-radio + label,
.magic-checkbox + label {
    position: relative;
    /*display: block;*/
    display: inline-block;
    /*min-width: 68px;*/
    height: 20px;
    /*padding-left: 30px;*/
    padding-left: 24px;
    /*margin-right: 8px;*/
    cursor: pointer;
    vertical-align: middle;
    line-height: 1.5;
    font-weight: normal;
    margin: 0;
}
.magic-radio + label:hover:before,
.magic-checkbox + label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color; }
.magic-radio + label:before,
.magic-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: '';
    border: 1px solid #c0c0c0;
    background-color: #fff;}
.magic-radio + label:after,
.magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: ''; }

.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
    cursor: not-allowed;
    color: #e4e4e4; }
.magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after,
.magic-checkbox[disabled] + label:hover,
.magic-checkbox[disabled] + label:before,
.magic-checkbox[disabled] + label:after {
    cursor: not-allowed; }
.magic-radio[disabled] + label:hover:before,
.magic-checkbox[disabled] + label:hover:before {
    border: 1px solid #e4e4e4;
    animation-name: none; }
.magic-radio[disabled] + label:before,
.magic-checkbox[disabled] + label:before {
    border-color: #e4e4e4; }

.magic-radio:checked + label:before,
.magic-checkbox:checked + label:before {
    animation-name: none; }

.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {
    display: block; }

.magic-radio + label:before {
    border-radius: 50%; }

.magic-radio + label:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #3e97eb; }

.magic-radio:checked + label:before {
    border: 1px solid #3e97eb; }

.magic-radio:checked[disabled] + label:before {
    border: 1px solid #c9e2f9; }

.magic-radio:checked[disabled] + label:after {
    background: #c9e2f9; }

.magic-checkbox + label:before {
    border-radius: 3px; }

.magic-checkbox + label:after {
    top: 2px;
    left: 7px;
    box-sizing: border-box;
    width: 6px;
    height: 12px;
    transform: rotate(45deg);
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    border-top: 0;
    border-left: 0; }

.magic-checkbox:checked + label:before {
    border: #3e97eb;
    background: #3e97eb; }

.magic-checkbox:checked[disabled] + label:before {
    border: #c9e2f9;
    background: #c9e2f9; }
