html,body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    background: #2e5e79;
    font-size: 12px;
    font-family: Calibri, 'Microsoft Yahei',"Helvetica Neue",Helvetica,Arial, sans-serif;
    overflow: hidden;
    /*font-family: Tahoma, Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;*/
}
body.hide-modal, body.modal-open {
    padding-right: 0px !important;
}
body.hide-modal #bootstrap-modal-dialog,
body.hide-modal .modal-backdrop {
    display: none !important;
}
#bootstrap-modal-dialog-body .row p {
    padding: 6px 0px;
    margin: 0px;
}
.main {
    position: relative;
    height: 100%;
    overflow: hidden;
}


header{
    margin-bottom: 1rem;
}
.headbar {
    background: #204562;
    border-bottom: 1px solid #406079;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 90px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.headbar .pull-right{
    margin-left: 10px;
}
.headbar .user-info {
    margin: 0px;
    margin-top: 0.8rem;
    padding-right: 1.5rem;
    list-style: none;
    color: #fff;
    font-size: 16px;
}
.user_detail{
    padding-left: 0;
}
.loginer_name{
    display: inline-block;
    text-align: center;
}
.headbar .user-info ul, .user-info li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.headbar .user-info li {
    display: inline;
    margin-right: 1rem;
}
.headbar .avatar {
    margin-right: 1rem;
    width: 50px;
    height: 50px;
}
.headbar .avatar img{
    width: 50px;
    height: 50px;
}
.headbar .login-out a{
    color:#A1EAFF; font-weight:normal;
    text-decoration: none;
}
.headbar .login-out a:hover{
    color:#fff;
}
.headbar .login-time {
    color: #C2C2C2;
}
.headbar .navbar-brand {
    font-size: 3.5rem;
    font-weight: 700;
    color: #fff;
    padding-left: 1rem;
}
.headbar .navbar-brand:hover, .headbar .navbar-brand:active, .headbar .navbar-brand:focus{
    color: #fff;

}
.nav-menu {
    position: fixed;
    width: 100%;
    top:90px;
    height: 47px;
    z-index: 1000;
}
#nav{
    background: url(../img/nav-repeat2.jpg) repeat-x #305b7b !important;
}
#nav a{
    color: #fff;
    padding-top: 0.85rem;
    padding-bottom: 0.85rem;
    font-weight: 700;
    font-size: 14px;
}
#nav a:hover, #nav a:active, #nav a:focus, #nav a:visited,
#nav li:hover, #nav li:active, #nav li:focus, #nav li:visited{
    background: #204562;
}
#nav li.active, #nav a.active {
    background: #103d5f;
}

.content-container {
    margin-top: 140px;
}
.content-container > .row {
    display: none;
}
.content-container .row.active {
    display: block;
}



/* boxes
----------------------------------------------- */
.box {
    background:#fff;
    margin-bottom:20px;
    padding:10px 10px 10px 10px; margin-left:-8px;
    -moz-border-radius: 5px 5px 0px 0px; /* Firefox */
    -webkit-border-radius: 5px 5px 0px 0px; /* Safari, Chrome */
    border-radius: 5px 5px 0px 0px; /* CSS3 */
}
.box.grid{padding-bottom:40px;}

.box h2 {
    font-size:1.6rem;
    font-weight:bold;
    color:#1B548D;
    background:#E6F0F3;
    margin:-10px -10px 0 -10px;
    padding:10px 12px;
    border-bottom:1px solid #B3CBD6;

    -moz-border-radius: 5px 5px 0px 0px; /* Firefox */
    -webkit-border-radius: 5px 5px 0px 0px; /* Safari, Chrome */
    border-radius: 5px 5px 0px 0px; /* CSS3 */
}
.data_time{
    float: right;
    margin-right: 10px;
    font-size:16px;
    color: #fff;
    height: 37px;
    line-height: 37px;
    font-weight: bold;
}
@media (max-width: 922px) {
    .content-container {
        margin-top: 220px;
    }
}
@media (min-width: 1280px){
    .container {
         width: 1220px;
    }
}
@media (min-width: 1380px){
    .container {
        width: 1320px;
    }
}
@media (min-width: 1500px){
    .container {
        width: 1420px;
    }
}
@media (min-width: 1600px){
    .container {
        width: 1520px;
    }
}
